<footer>
  <p>由开发者工坊 桂林中学分部发起 | designed by elementary | 备案号：<a href="https://beian.miit.gov.cn/" target="_blank">桂ICP备18006867号-2</a></p>
  <ul>
    <li><a href="https://github.com/devswork-glzx/aliver" target="_blank">网站仓库</a></li>
    <!-- <li><a href="https://elementary.io/brand" target="_self">Brand</a></li>
    <li><a href="https://elementary.io/oem" target="_self">OEMs</a></li>
    <li><a href="https://elementary.io/privacy" target="_self">Privacy</a></li>
    <li><a href="https://elementary.io/team" target="_self">Team</a></li>
    <li><a href="https://elementary.io/open-source" target="_self">Open Source</a></li> -->
  </ul>
</footer>
