<header>
  <nav class="primary">
    <ul>
      <li><a href="{{ site.baseurl }}/" class="logomark" target="_self">
        {% include svg/discover.svg %}
      </a></li>

      <li><b><a href="{{ site.baseurl }}/" target="_self">
        Aliver
      </a></b></li>

      <li><a href="{{ site.baseurl }}/tags/" target="_self">
        标签
      </a></li>

      <li><a href="{{ site.baseurl }}/helloworld" target="_self">
        关于我们
      </a></li>

    </ul>

    <ul>
      <li><a href="{{ site.baseurl }}/feed.xml" title="RSS Feed">
        {% include svg/rss-square.svg %}
      </a></li>
    </ul>
  </nav>
  <nav class="secondary">
    <div>
      <a href="{{ site.baseurl }}/tags/#csg-songlist">广播站歌单</a>
      <a href="{{ site.baseurl }}/tags/#chinacom-edu">中国网小记者专题</a>
      <a href="{{ site.baseurl }}/tags/#aliver">Aliver 站务</a>
      <a href="{{ site.baseurl }}/tags/#clubs">社团风采</a>
      <!--<a href="{{ site.baseurl }}/tags/#devs">Developers</a>
      <a href="{{ site.baseurl }}/tags/#design">Design</a> -->
    </div>
  </nav>
</header>
